NODE_ENV=development
PORT=3003
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/matching_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672
PRICING_ENGINE_URL=http://localhost:3002
BILLING_LEDGER_URL=http://localhost:3004
